h1 {
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	font-size: 60px;
	color: slategray;
}
h2 {
	text-decoration: underline;
	text-align: center;
}
#boxes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	width: 200px;
	height: 200px;
}
