h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 60px;
	border: 2px solid black;
	color: darkviolet;
	background-color: slategray;
}
/* 
#coin {
	height: 115px;
} */
img {
	width: 100px;
	position: absolute;
	top: 100px;
	left: 100px;
}

#button-div {
	text-align: center;
}
