h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 60px;
	color: slategrey;
	font-style: italic;
}

button {
	border: 2px solid teal;
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 100px;
}
